#book1{
    margin: -1600px 0px 0px 0px;
    width:150px;
    height:600px;

}
#book2{
    margin: 0px 0px 0px 0px;
    width:150px;
    height:600px;

}
#book3{
    margin: -900px 0px 0px 1300px;
    width:250px;
    height:600px;

}
#book4{
    margin: -1000px 0px 0px 1300px;
    width:200px;
    height:400px;

}